* {
    text-shadow: #FC0 1px 0 20px;
    color: yellow;
}

body {
 height: 100vh;
}

#background {
    background-image: url('imgs/tempistImg.jpg');
}

#gameTitle {
    text-align: center;
    font-size: 6vh;
}

#startButton {
    background-image:  url('imgs/tempistImg.jpg');
    margin-left: 900px;
    border-color: yellow;
    height: 70px;
}

#gameMessage {
    text-align: center;
    font-size: 45px;
}

#letterTarget {
    text-align: center;
    font-size: 180px;
}

#time, #currentTime {
    font-size: 75px;
}

#score {
    font-size: 75px;
}
